body { 
    font-family: Arial, Helvetica, sans-serif; /*fonte da escrita*/
    margin: 0;  /* espaçamento externo */ 
    padding: 0; /* espaçamento interno */ 
    background-color: white;
    text-align: center;
}   

header{ 
    background: lightseagreen;
    color: aliceblue;
    padding: 15px 0; /*espaçamento interno de 15 pixels acima e abaixo, e  0px esquerda e direita*/
    font-size: 24px;
    border: 2px, solid white;
}

nav {

    background-color: lightgray;
    padding: 8px;
    display: flex; /*flex boxing*/
    justify-content: space-between; /* alinhamento horizontal - espaço entre os links*/
    align-items: center; /* alinhamento na vertical */


}
#links-menu {
    display: flex;
    gap: 15px;

}
/* configura o estilo das ancoras dentro do nav*/
nav a { 
    color: white; /*texto branco*/
    text-decoration: none; /* nao faz decoração no link*/
    padding: 10px 15px; /*10 ´´e acima e abaixo e 15 é esquerda e direita*/
    font-size: 18px; /*18px é o tamanho da fonte*/
    background: #005663 ; /*cor de fundo */
    border-radius: 5px; /* borda com canto arredondado*/

}

